{% extends 'base/base.html' %}

{% block body %}

<h1>Add Department</h1>
<form action="" method="post">
    {% csrf_token %} 

    <label for="">Department Name</label><br>
    <input type="text" name="dept_name" class="form-control"><br>

    <input type="submit" value="Add Department" class="btn btn-primary">

</form>

<hr>

<table class="table ">
    <tr>
        <th>Sl</th>
        <th>Department Name</th>
        <th>Action</th>
    </tr>

    
    {% for d in dept_data %}

    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{d.name}}</td>
        <td>
            <a href="{% url 'edit_Dept' d.id %}" class="btn btn-primary">Edit</a>
            <a href="" class="btn btn-danger">Delete</a>
        </td>
    </tr>
        
    {% endfor %}
        

</table>
    
{% endblock body %}



    